$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;

$btn-font-family: $font-family-secondary;
$btn-font-weight: 600;
$btn-font-size: 14px;
$btn-border-radius: 10px;

$primary: #00B796;
$danger: #FC5A5A;
