.auth-block {
  background: $white;
  border-radius: 20px;
  padding: 30px 0px;

  @media (min-width: 768px) {
    padding: 40px 0px 30px;
  }   
  
  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: $grey1;
    margin: 0px 20px 20px;
  }

  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    color: $blue2;
    margin: 0px 20px;
    font-family: $font-family-secondary;
  }

  &__form {
    margin: 30px 45px 0px;
    @media (min-width: 768px) {
      margin: 30px 30px 0px;
    }     
  }

  &__buttons {
    padding-top: 10px;
  }

  &__socials {
    margin: 22px 45px 0px;
    @media (min-width: 768px) {
      margin: 22px 30px 0px;
    }
  }

  &__socials-or {
    position: relative;
    height: 16px; 
    font-size: 14px;   
    line-height: 16px;
    color: $grey2;
    display: flex;
    justify-content: center;

    &::after {
      content: '';
      position: absolute;
      left:0px;
      right: 0px;
      top: 40%;
      height: 2px;
      background: $grey5;
    }

    span {
      background: $white;
      padding: 0px 15px;
      z-index: 2;
    }
  }  
}